:root {
  --bg-main: #16171f;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: monospace;
  scroll-behavior: smooth;
}

/* .app {
  width: 100%;
  height: 4000px;
} */

.bgcard-container {
  width: 100%;
  height: 100vh;
  padding: 0 20px;
  background: var(--bg-main);
  position: fixed;
  z-index: 1;
  inset: 0px;
}

.card-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 100%;
  min-width: 280px;
  max-width: 750px;
  height: 100%;
  max-height: 550px;
  position: relative;
  background: khaki;
  border-radius: 10px;
}

.card-info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 8px;
  overflow-y: auto;
}

.card .close-container {
  display: grid;
  place-items: center;
  width: 36px;
  height: 36px;
  position: absolute;
  top: 8px;
  right: 8px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
.card .icon-close {
  width: 20px;
  height: 20px;
}
.icon-close polygon {
  fill: #f2f4f4;
}

.card-info > div:nth-child(1) {
  background: rgba(255, 255, 255, 0.1);
  margin-bottom: 12px;
  border-radius: 10px;
}

.card .box {
  display: grid;
  place-items: center;
  padding: 4px 12px;
  border: 1px solid black;
  border-radius: 10px;
  font-family: "VT323", monospace;
  text-align: center;
  text-transform: capitalize;
}

.card-info__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 24px;
}

.card .pokemon__id {
  margin-bottom: 20px;
  font-family: "Russo One", sans-serif;
  font-size: 3.8rem;
}
.card .pokemon__img {
  width: 132px;
  height: 132px;
}
.card .pokemon__name {
  margin-bottom: 20px;
  font-family: "Press Start 2P", cursive;
  font-family: "Russo One", sans-serif;
  font-family: "VT323", monospace;
  font-size: 6rem;
  text-transform: capitalize;
}
.card .pokemon__type {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 36px 0 40px;
  padding: 0 8px;
}
.card .type {
  font-size: 2.8rem;
}

.pokemon__legendary {
  width: 100%;
  /* max-width: 180px; */
  max-width: 120px;
  display: flex;
  justify-content: center;
  padding: 4px 12px;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid black;
  /* border-radius: 10px; */
  text-transform: capitalize;
  font-family: "VT323", monospace;
  font-size: 2.4rem;
  /* transform: rotate(-30deg) translate(-40px, -10px); */
}

.info__additional {
  font-family: "VT323", monospace;
  font-size: 2.4rem;
  line-height: 3.4rem;
  text-align: center;
}

.additional span {
  font-weight: bold;
}

.pokemon__gender {
  margin-top: 32px;
  font-size: 2.3rem;
}
.male-icon {
  color: #7070ff;
  margin-right: 8px;
}
.female-icon {
  color: #e03d58;
}

.card-info__right {
  display: flex;
  flex-direction: column;
  padding: 24px;
  font-family: "VT323", monospace;
}
.card-info__right h2 {
  font-size: 3.4rem;
  margin-bottom: 8px;
}
.card-info__right h2 + p,
.card-info__right h2 + div {
  font-size: 2.8rem;
  margin-bottom: 16px;
}

.about__content {
  line-height: 3rem;
}

.stats-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px 0px;
}
.stat {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 2.6rem;
  line-height: 3rem;
  text-align: center;
}
.stat__name {
  color: #f90716;
}

.card-info__right .abilities-title,
.card-info__right .egg-groups-title {
  margin-bottom: 16px;
}
.card-info__right .egg-groups-title {
  margin-top: 8px;
}

.abilities-container,
.egg-groups-container {
  display: flex;
}
.card-info__right .egg-groups-container {
  margin: 0;
}

.abilities-container div:nth-child(1),
.egg-groups-container div:nth-child(1),
.pokemon__type div:nth-child(1) {
  margin-right: 16px;
}

.card-info::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  border-radius: 10px;
}

.card-info::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
  border-radius: 10px;
}

.card-info::-webkit-scrollbar-thumb {
  background: rgba(128, 128, 128, 0.6);
  border-radius: 10px;
}

@media screen and (min-width: 768px) {
  .card-info {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 12px;
  }
  .card-info > div:nth-child(1) {
    margin-bottom: 0px;
  }
}

.hidden {
  display: none;
}
