:root {
  --bg-main: #16171f;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: monospace;
  scroll-behavior: smooth;
}
.app {
  background: var(--bg-main);
}

.app__header {
  width: 100%;
  height: 60px;
}
.app__header nav {
  width: inherit;
  height: inherit;
}

.navbar-list {
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}
ul li {
  list-style: none;
}

.navbar-list li,
.navbar-list li a {
  display: flex;
  align-items: center;
}
.navbar-list li:nth-child(1) {
  height: inherit;
}
.navbar-list .github-icon,
.navbar-list .github-icon a {
  height: inherit;
}

.navbar-list li:nth-child(1) img {
  height: 52px;
  position: relative;
  top: 4px;
}
.navbar-list li:nth-child(2) svg {
  width: 36px;
  height: 36px;
}

.app__main {
  min-height: calc(100vh - 171px);
  padding: 0 20px;
}

.btn-container {
  display: flex;
  justify-content: center;
  padding: 24px 0;
}

.input-search {
  width: 200px;
  height: 30px;
  padding: 12px;
  margin-right: 12px;
  border: 1px solid black;
  border-radius: 5px;
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
  outline: none;
}
.btn-search {
  width: 80px;
  height: 30px;
  color: rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #000;
  border-radius: 15px;
  cursor: pointer;
}

.pokedex {
  --item-width: 200px;
  display: grid;
  grid-template-columns: repeat(auto-fill, var(--item-width));
  place-content: center;
  gap: 28px;
  margin: 28px 0;
}

.pokedex__item {
  width: var(--item-width);
  height: 280px;
  position: relative;
  border-radius: 16px;
  background: khaki;
  cursor: pointer;
}
.bg-pokemon {
  width: inherit;
  height: inherit;
  border-radius: 16px;
}

.pokemon {
  width: inherit;
  height: inherit;
  padding: 12px;
  font-size: 2rem;
  text-align: center;
}

.pokemon__id {
  margin-bottom: 16px;
  font-family: "Russo One", sans-serif;
  font-size: 2.4rem;
  text-align: start;
}
.pokemon__img {
  width: 120px;
  height: 120px;
  margin-bottom: 20px;
}
.pokemon__name {
  margin-bottom: 20px;
  font-family: "Press Start 2P", cursive;
  font-size: 2rem;
  text-transform: capitalize;
}
.pokemon__type {
  display: flex;
  justify-content: space-between;
  padding: 0 8px;
  font-family: "Russo One", sans-serif;
  font-size: 1.7rem;
}
.pokemon__type div {
  padding: 4px 12px;
  border: 1px solid black;
  border-radius: 10px;
  filter: brightness(115%);
  text-transform: capitalize;
}

.app__footer {
  width: 100%;
  padding: 0 20px;
}
.footer-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  font-family: "Russo One", sans-serif;
  text-align: center;
}
.footer-info a {
  color: #fff;
  text-decoration: none;
}

.footer-info div:nth-child(1) {
  margin-top: 32px;
  font-size: 2rem;
}
.footer-info .github-icon {
  margin-top: 12px;
  margin-bottom: 12px;
}
.footer-info .github-icon a {
  display: block;
  height: auto;
}
.footer-info .github-icon svg {
  height: 32px;
}

.not-found {
  text-align: center;
  margin: 40px 0;
  color: rgba(255, 255, 255, 0.6);
  font-size: 2.4rem;
  font-weight: bold;
}

/* Hover states */
.btn-search:hover {
  background: rgba(255, 255, 255, 0.3);
}
.pokedex__item:hover .bg-pokemon {
  background: rgba(255, 255, 255, 0.2);
  filter: brightness(105%);
}
.app a:hover {
  text-decoration: underline;
}

/* Icons */
.github-icon svg {
  fill: #fff;
}

.normal {
  background: #a8a77a;
}
.fire {
  background: #ee8130;
}
.water {
  background: #6390f0;
}
.electric {
  background: #f7d02c;
}
.grass {
  background: #7ac74c;
}
.ice {
  background: #96d9d6;
}
.fighting {
  background: #c22e28;
}
.poison {
  background: #a33ea1;
}
.ground {
  background: #e2bf65;
}
.flying {
  background: #a98ff3;
}
.psychic {
  background: #f95587;
}
.bug {
  background: #a6b91a;
}
.rock {
  background: #b6a136;
}
.ghost {
  background: #735797;
}
.dragon {
  background: #6f35fc;
}
.dark {
  background: #705746;
}
.steel {
  background: #b7b7ce;
}
.fairy {
  background: #d685ad;
}

/* Pokemon Card Styles */

.bgcard-container {
  width: 100%;
  height: 100vh;
  padding: 0 20px;
  background: var(--bg-main);
  position: fixed;
  z-index: 1;
  inset: 0px;
}

.card-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 100%;
  min-width: 280px;
  max-width: 750px;
  height: 100%;
  max-height: 570px;
  position: relative;
  background: khaki;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.card-info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 8px;
  overflow-y: auto;
}

.card .close-container {
  display: grid;
  place-items: center;
  width: 36px;
  height: 36px;
  position: absolute;
  top: 16px;
  right: 16px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
.card .icon-close {
  width: 20px;
  height: 20px;
}
.icon-close polygon {
  fill: #f2f4f4;
}

.card-info > div:nth-child(1) {
  background: rgba(255, 255, 255, 0.2);
  /* background: lightgreen; */
  margin-bottom: 12px;
  border-radius: 10px;
}

.card .box {
  display: grid;
  place-items: center;
  padding: 4px 12px;
  border: 1px solid black;
  border-radius: 10px;
  font-family: "VT323", monospace;
  text-align: center;
  text-transform: capitalize;
}

.card-info__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 24px;
}

.card .pokemon__id {
  margin-bottom: 20px;
  font-family: "Russo One", sans-serif;
  font-size: 3.8rem;
}
.card .pokemon__img {
  width: 132px;
  height: 132px;
}
.card .pokemon__name {
  margin-bottom: 20px;
  font-family: "Press Start 2P", cursive;
  font-family: "Russo One", sans-serif;
  font-family: "VT323", monospace;
  font-size: 6rem;
  text-transform: capitalize;
}
.card .pokemon__type {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 36px 0 40px;
  padding: 0 8px;
}
.card .type {
  font-size: 2.8rem;
}

.info__additional {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "VT323", monospace;
  font-size: 2.5rem;
  line-height: 3.4rem;
  text-align: center;
}

.additional span {
  font-weight: bold;
}

.pokemon__gender {
  display: flex;
  margin-top: 32px;
  font-size: 2.4rem;
  text-align: center;
}
.male-icon {
  color: #7070ff;
  margin-right: 8px;
}
.female-icon {
  color: #e03d58;
}

.card-info__right {
  display: flex;
  flex-direction: column;
  padding: 24px;
  font-family: "VT323", monospace;
}
.card-info__right h2 {
  font-size: 3.4rem;
  margin-bottom: 8px;
}
.card-info__right h2 + p,
.card-info__right h2 + div {
  font-size: 2.8rem;
  margin-bottom: 16px;
}

.about__content {
  line-height: 3rem;
}

.stats-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px 0px;
}
.stat {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 2.6rem;
  line-height: 3rem;
  text-align: center;
}
.stat__name {
  color: #f90716;
}

.card-info__right .abilities-title,
.card-info__right .egg-groups-title {
  margin-bottom: 16px;
}
.card-info__right .egg-groups-title {
  margin-top: 8px;
}

.abilities-container,
.egg-groups-container {
  display: flex;
}
.card-info__right .egg-groups-container {
  margin: 0;
}

.abilities-container div:nth-child(1),
.egg-groups-container div:nth-child(1),
.pokemon__type div:nth-child(1) {
  margin-right: 16px;
}

.card-info::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
  background-color: #f5f5f5;
  border-radius: 10px;
}

.card-info::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
  border-radius: 10px;
}

.card-info::-webkit-scrollbar-thumb {
  background: rgba(128, 128, 128, 0.6);
  border-radius: 10px;
}

@media screen and (min-width: 768px) {
  .card {
    border-radius: 10px;
  }
  .card-info {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 12px;
  }
  .card-info > div:nth-child(1) {
    margin-bottom: 0px;
  }
}

/* Pokemon Card styles END */

.hidden {
  display: none;
}
