:root {
  --bg-main: #16171f;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: monospace;
  scroll-behavior: smooth;
}

.normal {
  background: #a8a77a;
}
.fire {
  background: #ee8130;
}
.water {
  background: #6390f0;
}
.electric {
  background: #f7d02c;
}
.grass {
  background: #7ac74c;
}
.ice {
  background: #96d9d6;
}
.fighting {
  background: #c22e28;
}
.poison {
  background: #a33ea1;
}
.ground {
  background: #e2bf65;
}
.flying {
  background: #a98ff3;
}
.psychic {
  background: #f95587;
}
.bug {
  background: #a6b91a;
}
.rock {
  background: #b6a136;
}
.ghost {
  background: #735797;
}
.dragon {
  background: #6f35fc;
}
.dark {
  background: #705746;
}
.steel {
  background: #b7b7ce;
}
.fairy {
  background: #d685ad;
}

.app {
  background: var(--bg-main);
}

.app__header {
  width: 100%;
  max-width: 1440px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
}
.app__header nav {
  width: inherit;
  height: inherit;
}

.navbar-list {
  width: inherit;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-left: 20px;
}
ul li {
  list-style: none;
}

.navbar-list li,
.navbar-list li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.navbar-list li:nth-child(1) {
  height: inherit;
}
.navbar-list .github-icon {
  height: inherit;
}
.navbar-list .github-icon a {
  height: inherit;
  padding-left: 20px;
  padding-right: 20px;
}
.navbar-list li:nth-child(1) img {
  height: 52px;
  position: relative;
  top: 4px;
}
.navbar-list li:nth-child(2) svg {
  width: 36px;
  height: 36px;
}

.app__main {
  max-width: 1440px;
  min-height: calc(100vh - 171px);
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
}

.search-container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 60px;
  row-gap: 44px;
  justify-content: center;
  align-items: center;
  margin-top: 36px;
  margin-bottom: 44px;
}
.select-1,
.searcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  flex-direction: column;
  row-gap: 24px;
  align-items: center;
}

.search-container label {
  color: #fff;
  font-size: 2.1rem;
  font-family: "Press Start 2P", cursive;
}
.select--region {
  width: 200px;
  height: 20px;
  border-radius: 4px;
  text-align: start;
  outline: none;
}

.input-search {
  width: 200px;
  height: 30px;
  padding: 12px;
  border: 1px solid black;
  border-radius: 5px;
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
  outline: none;
}
.input-search:focus {
  background: rgba(255, 255, 255, 0.15);
}

.btn-search {
  width: 80px;
  height: 30px;
  color: rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #000;
  border-radius: 15px;
  cursor: pointer;
}

.pokedex {
  --item-width: 200px;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, var(--item-width));
  place-content: center;
  gap: 28px;
  margin: 28px 0;
}

.pokedex__item {
  width: var(--item-width);
  height: 280px;
  position: relative;
  border-radius: 16px;
  background: khaki;
  cursor: pointer;
  transition: transform 0.3s linear;
}
.bg-pokemon {
  width: inherit;
  height: inherit;
  border-radius: 16px;
}

.pokemon {
  width: inherit;
  height: inherit;
  padding: 12px;
  font-size: 2rem;
  text-align: center;
}

.pokemon__id {
  margin-bottom: 16px;
  font-family: "Russo One", sans-serif;
  font-size: 2.4rem;
  text-align: start;
}
.pokemon__img {
  width: 120px;
  height: 120px;
  margin-bottom: 20px;
}
.pokemon__name {
  margin-bottom: 20px;
  font-family: "Press Start 2P", cursive;
  font-size: 2rem;
  text-transform: capitalize;
}
.pokemon__type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 8px;
  font-family: "Russo One", sans-serif;
  font-size: 1.7rem;
}
.pokemon__type div {
  padding: 4px 12px;
  border: 1px solid black;
  border-radius: 10px;
  text-transform: capitalize;
}

.app__footer {
  width: 100%;
  max-width: 1440px;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
}
.footer-info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  font-family: "Russo One", sans-serif;
  text-align: center;
}
.footer-info a {
  color: #fff;
  text-decoration: none;
}

.footer-info div:nth-child(1) {
  margin-top: 32px;
  font-size: 2rem;
}
.footer-info .github-icon {
  margin-top: 12px;
  margin-bottom: 12px;
}
.footer-info .github-icon a {
  display: block;
  height: auto;
}
.footer-info .github-icon svg {
  height: 32px;
}

.not-found {
  text-align: center;
  margin: 40px 0;
  color: rgba(255, 255, 255, 0.6);
  font-size: 2.4rem;
  font-weight: bold;
}
.pikachu-sad {
  width: 190px;
  border-radius: 20px;
  margin-bottom: 30px;
}

/* Hover states */
.btn-search:hover {
  background: rgba(255, 255, 255, 0.25);
}

.pokedex__item:hover {
  transform: scale(1.05);
}
.pokedex__item:hover .bg-pokemon {
  /* Aclarar */
  background: rgba(255, 255, 255, 0.1);
  -webkit-filter: brightness(101%);
  filter: brightness(101%);
}
.app a:hover {
  text-decoration: underline;
}

/* Icons */
.github-icon svg {
  fill: #fff;
}

/* Pokemon Card Styles */

.bgcard-container {
  width: 100%;
  height: 100vh;
  padding: 0 20px;
  background: var(--bg-main);
  position: fixed;
  z-index: 1002;
  inset: 0px;
}

.card-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.card {
  width: 100%;
  min-width: 280px;
  max-width: 750px;
  height: 100%;
  max-height: 570px;
  position: relative;
  background: khaki;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.card-info {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  padding: 8px;
  overflow-y: scroll;
}

.card .close-container {
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 16px;
  right: 16px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
.card .icon-close {
  width: 24px;
  height: 24px;
}
.icon-close polygon {
  fill: #f2f4f4;
}

.card-info > div:nth-child(1) {
  background: rgba(255, 255, 255, 0.2);
  /* background: lightgreen; */
  margin-bottom: 12px;
  border-radius: 10px;
}

.card .box {
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding: 4px 12px;
  border: 1px solid black;
  border-radius: 10px;
  font-family: "VT323", monospace;
  text-align: center;
  text-transform: capitalize;
}

.card-info__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  padding: 24px;
}

.card .pokemon__id {
  margin-bottom: 20px;
  font-family: "Russo One", sans-serif;
  font-size: 3.8rem;
}
.card .pokemon__img {
  width: 132px;
  height: 132px;
}
.card .pokemon__name {
  margin-bottom: 20px;
  font-family: "VT323", monospace;
  font-size: 6rem;
  text-transform: capitalize;
}
.card .pokemon__type {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 36px 0 40px;
  padding: 0 8px;
}
.card .type {
  font-size: 2.8rem;
}

.info__additional {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "VT323", monospace;
  font-size: 2.5rem;
  line-height: 3.4rem;
  text-align: center;
}

.additional span:nth-child(1) {
  font-weight: bold;
}

.pokemon__gender {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 32px;
  font-size: 2.4rem;
  text-align: center;
}
.male-icon {
  color: #7070ff;
  margin-right: 8px;
}
.female-icon {
  color: #e03d58;
}

.card-info__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 24px;
  font-family: "VT323", monospace;
}
.card-info__right h2 {
  font-size: 3.4rem;
  margin-bottom: 8px;
}
.card-info__right h2 + p,
.card-info__right h2 + div {
  font-size: 2.8rem;
  margin-bottom: 16px;
}

.about__content {
  line-height: 3rem;
}

.stats-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 0px 1fr 0px 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px 0px;
}
.stat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  font-size: 2.6rem;
  line-height: 3rem;
  text-align: center;
}
.stat__name {
  color: #f90716;
}

.card-info__right .abilities-title,
.card-info__right .egg-groups-title {
  margin-bottom: 16px;
}
.card-info__right .egg-groups-title {
  margin-top: 8px;
}

.abilities-container,
.egg-groups-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.card-info__right .egg-groups-container {
  margin: 0;
}

.abilities-container div:nth-child(1),
.egg-groups-container div:nth-child(1),
.pokemon__type div:nth-child(1) {
  margin-right: 16px;
}

.card-info::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
  background-color: #f5f5f5;
  border-radius: 10px;
}

.card-info::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
  border-radius: 10px;
}

.card-info::-webkit-scrollbar-thumb {
  background: rgba(128, 128, 128, 0.6);
  border-radius: 10px;
}

/* Pokemon Card styles END */

.go-top {
  padding: 12px;
  position: fixed;
  bottom: 28px;
  right: 16px;
  background: #626567;
  border-radius: 50%;
  z-index: 1001;
  cursor: pointer;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
}
.go-top svg {
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.hidden {
  display: none;
}

@media screen and (min-width: 400px) {
  .select--region {
    width: 240px;
    height: 24px;
  }
  .input-search {
    width: 240px;
    height: 28px;
  }
}

@media screen and (min-width: 768px) {
  .card {
    border-radius: 10px;
  }
  .card-info {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 12px 3fr;
    grid-template-columns: 2fr 3fr;
    gap: 12px;
    overflow-y: auto;
  }
  .card-info > div:nth-child(1) {
    margin-bottom: 0px;
  }
  .go-top {
    padding: 16px;
    bottom: 32px;
    right: 32px;
  }
}
